/* CSS Reset */
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	background-color: var(--white);
	color: var(--black);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Variables */
:root {
	--animation: 0.25s cubic-bezier(0.18, 1, 0.21, 1);

	--border: 1px solid var(--black);

	--primary-color: #0e2954;
	--secondary-color: #1f6e8c;
	--tertiary-color: #2e8a99;
	--quadra-color: #84a7a1;

	--white: #f5f5f7;
	--black: #2f2f2f;
}

/* Utility */
.container {
	max-width: 900px;
	margin: auto;
}

/* ****** Navigation ************************************* */
#nav-bar {
	padding: 0 1rem;
	position: sticky;
	top: 0;
	left: 0;
	transition: var(--animation);
	border-bottom: var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	z-index: 9999;
	background-color: var(--white);
}

#nav-bar.open {
	background-color: var(--primary-color);
	border-bottom: 1px solid var(--white);
}

.logo {
	color: var(--black);
}
.logo.open {
	color: var(--white);
}

/* Nav icon */
.hamburger-button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.hamburger-button.open {
	fill: var(--white);
}

.hamburger-button:hover {
	fill: var(--secondary-color);
}

.top-bun,
.patty,
.bottom-bun {
	transition: var(--animation);
}

.top-bun.close {
	rotate: 45deg;
	transform: translate(25px, -25px);
}
.patty.close {
	opacity: 0;
}
.bottom-bun.close {
	rotate: -45deg;
	transform: translate(-55px, -5px);
}

/* Sliding Menu onto screen */
.nav-menu {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	background-color: var(--primary-color);
	translate: -100%;
	transition: var(--animation);
	z-index: 9998;
}

.nav-menu.open {
	translate: 0;
}

.nav-link-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 0;
	margin: 0;
}

.nav-link {
	width: 100%;
	height: 100px;
	color: var(--white);
	border-bottom: 1px solid var(--white);
}

.nav-link:hover {
	background-color: var(--secondary-color);
}

.nav-link a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1.1rem;
	font-size: 1.2rem;
}

.svg-arrow {
	fill: var(--white);
}

/* Hero / Home section */
#home {
	height: calc(100vh - 60px);
}

.hero-wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	padding: 1rem;
	place-content: center space-evenly;
	background: #090b0c;
}

/* Reference */
/* https://dev.to/0shuvo0/pure-css-infinite-spacegalaxy-with-just-one-div-4o02 */
.space {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 1px;
	width: 1px;
	background-color: var(--white);
	border-radius: 50%;
	box-shadow: 1vw -11vh 1px 2px var(--white), 30vw 2vh 2px 1px var(--white),
		-1vw -22vh 1px 0px var(--white), 41vw -1vh 1px 2px var(--white),
		-31vw 26vh 2px 2px var(--white), 27vw -19vh 2px 2px var(--white),
		8vw 29vh 0px 2px var(--white), 26vw -41vh 2px 2px var(--white),
		36vw 21vh 0px 0px var(--white), -33vw 8vh 2px 1px var(--white),
		26vw 36vh 2px 0px var(--white), -12vw 38vh 2px 1px var(--white),
		19vw -13vh 2px 2px var(--white), 30vw -50vh 2px 0px var(--white),
		-28vw 16vh 2px 0px var(--white), -26vw 46vh 1px 2px var(--white),
		-23vw 31vh 0px 2px var(--white), -5vw -10vh 0px 1px var(--white),
		2vw -18vh 2px 2px var(--white), -32vw 5vh 1px 1px var(--white),
		-24vw 31vh 0px 0px var(--white), -39vw -47vh 2px 2px var(--white),
		-21vw -30vh 2px 2px var(--white), -24vw -12vh 0px 0px var(--white),
		-44vw 42vh 2px 2px var(--white), 19vw 18vh 2px 2px var(--white),
		-46vw -5vh 2px 2px var(--white), -37vw -16vh 2px 2px var(--white),
		10vw -41vh 2px 2px var(--white), 48vw 43vh 1px 2px var(--white),
		28vw 24vh 2px 0px var(--white), -20vw -4vh 2px 2px var(--white),
		10vw 7vh 1px 2px var(--white), 5vw -30vh 0px 2px var(--white),
		24vw -42vh 2px 1px var(--white), -47vw 36vh 2px 1px var(--white),
		-45vw -22vh 1px 1px var(--white), -39vw -36vh 2px 2px var(--white),
		19vw -24vh 0px 0px var(--white), -3vw -41vh 0px 2px var(--white),
		-19vw -41vh 2px 2px var(--white), -24vw -1vh 2px 2px var(--white),
		15vw 37vh 1px 2px var(--white), -26vw -35vh 2px 1px var(--white),
		31vw 11vh 0px 2px var(--white), -14vw -43vh 2px 0px var(--white),
		13vw 48vh 2px 2px var(--white), 48vw 16vh 2px 2px var(--white),
		38vw 39vh 2px 1px var(--white), 44vw -12vh 1px 1px var(--white),
		41vw -15vh 1px 0px var(--white), -8vw -35vh 1px 2px var(--white),
		-30vw -30vh 0px 0px var(--white), -21vw -21vh 2px 2px var(--white),
		-44vw 19vh 0px 2px var(--white), 6vw -1vh 1px 0px var(--white),
		-6vw 48vh 2px 0px var(--white), -49vw -31vh 2px 0px var(--white),
		-31vw -22vh 2px 2px var(--white), 31vw 14vh 0px 2px var(--white),
		40vw -10vh 2px 0px var(--white), -23vw 2vh 1px 1px var(--white),
		3vw -41vh 2px 1px var(--white), 39vw 4vh 2px 2px var(--white),
		-16vw 13vh 1px 2px var(--white), 30vw -31vh 2px 0px var(--white),
		-47vw 1vh 1px 0px var(--white), 1vw 44vh 2px 1px var(--white),
		14vw 38vh 2px 2px var(--white), -44vw -6vh 2px 2px var(--white),
		29vw 27vh 2px 0px var(--white), -15vw -24vh 1px 0px var(--white),
		-38vw -39vh 2px 1px var(--white), -16vw 39vh 2px 0px var(--white),
		-25vw -28vh 0px 0px var(--white), 14vw -5vh 2px 0px var(--white),
		35vw -11vh 2px 2px var(--white), -48vw -18vh 0px 2px var(--white),
		-26vw -30vh 0px 2px var(--white), -25vw -31vh 1px 2px var(--white),
		12vw 20vh 2px 0px var(--white), -16vw 20vh 2px 2px var(--white),
		-23vw -37vh 0px 0px var(--white), 32vw -36vh 2px 2px var(--white),
		48vw 20vh 2px 0px var(--white), 17vw 11vh 2px 2px var(--white),
		42vw 11vh 2px 1px var(--white), 19vw -10vh 2px 2px var(--white),
		44vw -31vh 2px 2px var(--white), -19vw 41vh 2px 1px var(--white),
		22vw -1vh 0px 0px var(--white), -8vw 25vh 2px 2px var(--white),
		20vw 24vh 2px 0px var(--white), -9vw -34vh 0px 2px var(--white),
		-35vw -37vh 0px 2px var(--white), 39vw 41vh 2px 2px var(--white),
		38vw -7vh 0px 0px var(--white), -22vw 23vh 0px 1px var(--white),
		-28vw 43vh 2px 1px var(--white), -47vw -14vh 1px 2px var(--white);
}

.moon {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #f5f5f5;
	border-radius: 50%;
	box-shadow: 0 0 0 0.6em rgba(255, 255, 255, 0.05),
		0 0 0 1.2em rgba(255, 255, 255, 0.05),
		0 0 0 1.8em rgba(255, 255, 255, 0.05);
	animation: glow 5s ease-in-out infinite, spin 30s linear infinite;
}

/* .moon::after {
	content: "";
	position: absolute;
	top: -150%;
	left: -150%;
	width: 400%;
	height: 400%;
	border: 3px dotted white;
	border-radius: 50%;
	background-color: transparent;
} */

@keyframes glow {
	0% {
		box-shadow: 0 0 0 0.6em rgba(255, 255, 255, 0.05),
			0 0 0 1.2em rgba(255, 255, 255, 0.05),
			0 0 0 1.8em rgba(255, 255, 255, 0.05);
	}

	50% {
		box-shadow: 0 0 0 1em rgba(255, 255, 255, 0.05),
			0 0 0 1.5em rgba(255, 255, 255, 0.05),
			0 0 0 2.2em rgba(255, 255, 255, 0.05);
	}
	100% {
		box-shadow: 0 0 0 0.6em rgba(255, 255, 255, 0.05),
			0 0 0 1.2em rgba(255, 255, 255, 0.05),
			0 0 0 1.8em rgba(255, 255, 255, 0.05);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.crater:nth-child(1) {
	content: "";
	position: absolute;
	top: 20%;
	left: 20%;
	width: 0.9em;
	height: 0.9em;
	border-radius: 50%;
	background-color: #d1d1d1;
}

.crater:nth-child(2) {
	content: "";
	position: absolute;
	top: 40%;
	left: 20%;
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	background-color: #d1d1d1;
}

.crater:nth-child(3) {
	content: "";
	position: absolute;
	top: 30%;
	left: 40%;
	width: 0.6em;
	height: 0.6em;
	border-radius: 50%;
	background-color: #d1d1d1;
}

.hero-title {
	color: var(--white);
	font-size: 3rem;
	margin: 0;
}

.hero-text {
	max-width: 400px;
	color: var(--white);
}

.star-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

/* Referenced - https://youtube.com/watch?v=Kf4BP-WLkVs */
/* Create star animation */
/* place absolute on top of hero section, draw tail */
/* with gradient to mimic movement of shooting star */
/* place all stars in same starting spot in center */
/* drop shadow to mimic glow */
.star {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 3px;
	width: 0px;
	background: linear-gradient(-45deg, var(--white), var(--black));
	border-radius: 30%;
	filter: drop-shadow(0 0 6px var(--white));
	animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
	rotate: 40deg;
}

@keyframes tail {
	0% {
		width: 0px;
	}
	50% {
		width: 100px;
	}
	100% {
		width: 0px;
	}
}

@keyframes falling {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(1500px);
	}
}

/* Create star shape of cross using rotated bars */
/* rotate into position */
.star::before,
.star::after {
	content: "";
	position: absolute;
	top: calc(50% - 2px);
	right: 0;
	height: 4px;
	width: 15px;
	background: linear-gradient(-45deg, var(--white), var(--white));
	border-radius: 100%;
	transform: translateX(50%) rotateZ(45deg);
	animation: shining 1s ease-in-out infinite;
}
.star::after {
	transform: translateX(50%) rotateZ(-45deg);
}

@keyframes shining {
	0% {
		width: 10px;
	}
	50% {
		width: 15px;
	}
	100% {
		width: 10px;
	}
}

/* Move stars into different positions */
.star:nth-child(1) {
	top: calc(50% - 300px);
	left: calc(50% - 200px);
	animation-delay: 1s;
}
.star:nth-child(2) {
	top: calc(50% - 200px);
	left: calc(50% - 400px);
	animation-delay: 2s;
}
.star:nth-child(3) {
	top: calc(50% - 0px);
	left: calc(50% - 500px);
	animation-delay: 2.9s;
}
.star:nth-child(4) {
	top: calc(50% + 30px);
	left: calc(50% + 50px);
	animation-delay: 4s;
}
.star:nth-child(5) {
	top: calc(50% - 200px);
	left: calc(50% + 100px);
	animation-delay: 0.1s;
}

/* About section */
#about {
	margin: 5rem 1rem;
	height: 100vh;
}

.about-wrapper {
	margin: 2rem 1rem;
	display: grid;
	place-content: center;
	gap: 1rem;
}

.about-heading {
	text-align: center;
}

.about-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: gray;
	margin: auto;
	opacity: 0;
	transform: translateY(100px);
	transition: 1s ease;
}

.about-title {
	margin: 1rem 0;
	opacity: 0;
	transform: translateY(100px);
	transition: 1s ease;
	text-align: left;
}

.about-text {
	margin: auto;
	max-width: 400px;
	opacity: 0;
	transform: translateY(100px);
	transition: 1s ease;
}

.about-text:nth-child(2) {
	transition: 1s ease;
}

.show {
	opacity: 1;
	transform: translateY(0);
}

/* Web development */
#web-dev {
	margin: 5rem 1rem;
	min-height: 100vh;
}

.web-dev-wrapper {
	display: grid;
	place-content: center;
	grid-template-areas:
		"title"
		"reason1"
		"reason2"
		"reason3";
	gap: 1rem;
	/* overflow: hidden; */
}

.web-dev-title {
	grid-area: title;
	opacity: 0;
	transform: translateY(100px);
	transition: 1s ease;
}

.card {
	border: 3px solid var(--black);
	opacity: 0;
	transform: translateY(100px);
	transition: transform 1s ease, background var(--animation),
		color var(--animation), border var(--animation), opacity 1s ease;
}

.card:hover {
	background: var(--tertiary-color);
	color: var(--white);
	border: 3px solid var(--tertiary-color);
}

.card:hover .card-img {
	transform: scale(1.2);
}

.image-container {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.card-img {
	width: 100%;
	height: 100%;
	background: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80");
	background-size: cover;
	transition: 1s ease;
}

.card-title {
	padding: 0 1rem;
}

.card-text {
	padding: 0 1rem 1rem 1rem;
}

.card.show,
.web-dev-title.show {
	opacity: 1;
	transform: translate(0);
}

/* Founders and coders */
#founders-coders {
	margin: 5rem 0 0 0;
	padding: 1rem 0;
	min-height: 100vh;
	font-size: 1.1rem;
}

.founders-coders-wrapper {
	margin: 0 1rem;
}

.fac-text {
	opacity: 0;
	transform: translateY(100px);
	transition: 1s ease;
}

.fac-text.show {
	opacity: 1;
	transform: translateY(0);
}

/* Footer */
footer {
	height: 60px;
	margin: 5rem 0 0 0;
	padding: 1rem;
	background-color: var(--black);
	color: var(--white);
	display: grid;
	place-items: center;
	text-align: center;
}
